@import url("https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// =======@ Kyiv Type @=======

@font-face {
  font-family: "KyivType";
  src: url("../fonts/kyivType/KyivTypeSans-Light-.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "KyivType";
  src: url("../fonts/kyivType/KyivTypeSans-Regular-.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "KyivType";
  src: url("../fonts/kyivType/KyivTypeSans-Medium-.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "KyivType";
  src: url("../fonts/kyivType/KyivTypeSans-Heavy-.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "KyivType";
  src: url("../fonts/kyivType/KyivTypeSans-Bold-.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "KyivType";
  src: url("../fonts/kyivType/KyivTypeSans-Black-.otf") format("opentype");
  font-weight: 800;
}

// =======@ e-Ukraine @=======

@font-face {
  font-family: "eUkr";
  src: url("../fonts/eUkr/e-Ukraine-Thin.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "eUkr";
  src: url("../fonts/eUkr/e-Ukraine-UltraLight.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "eUkr";
  src: url("../fonts/eUkr/e-Ukraine-Light.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "eUkr";
  src: url("../fonts/eUkr/e-Ukraine-Regular.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "eUkr";
  src: url("../fonts/eUkr/e-Ukraine-Medium.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "eUkr";
  src: url("../fonts/eUkr/e-Ukraine-Bold.otf") format("opentype");
  font-weight: 800;
}

// =======@ e-Ukraine Head @=======

@font-face {
  font-family: "eUkrHead";
  src: url("../fonts/eUkrHead/e-UkraineHead-Thin.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "eUkrHead";
  src: url("../fonts/eUkrHead/e-UkraineHead-UltraLight.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "eUkrHead";
  src: url("../fonts/eUkrHead/e-UkraineHead-Light.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "eUkrHead";
  src: url("../fonts/eUkrHead/e-UkraineHead-Regular.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "eUkrHead";
  src: url("../fonts/eUkrHead/e-UkraineHead-LOGO.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "eUkrHead";
  src: url("../fonts/eUkrHead/e-UkraineHead-Medium.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "eUkrHead";
  src: url("../fonts/eUkrHead/e-UkraineHead-Bold.otf") format("opentype");
  font-weight: 800;
}
