@import '../../assets/styles/colors';

footer {
  display: grid;
  background-color: $blue;
  padding: 10px 130px;
  grid-template-columns: 140px 1fr 60px;
  align-items: center;

  p {
    font-family: 'eUkr';
    color: $white;
    font-weight: 700;
    font-size: 16px;
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      column-gap: 10px;

      li {
        font-family: 'eUkr';
        font-size: 13px;
        font-weight: 600;

        .link {
          color: $white;
          &:hover {
            &::after {
              background-color: $white;
            }
          }
        }
        &.line {
          height: 1rem;
          width: 1px;
          background-color: $white;
        }
      }
    }
  }
  .social {
    display: flex;
    column-gap: 12px;
  }

  @media screen and (max-width: 500px) {
    padding: 15px;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 14px;
      white-space: nowrap;
    }
    nav {
      ul {
        column-gap: 6px;

        li {
          font-size: 12px;

          &.line {
            display: none;
          }
        }
      }
    }
    .social {
      font-size: 14px;
      column-gap: 8px;
    }
  }
}
